
/* Button used to open the chat form - fixed at the bottom of the page */
.open-button  {
    z-index: 500;
    background-color: #391F00;
    color: #ddd;
    padding: 16px 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 25px;
    right: 28px;
    width: 80px;
  }

 .open-button i {
    font-size: 40px;
    margin: auto;
    color:#E16A00;
  }
  
  
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    z-index: 999999999999999 !important;
    position: fixed;
    bottom: 25px;
    right: 15px;
    border: 5px solid #E16A00;
    border-radius: 20px;
    z-index: 9;
  }


/* Add styles to the form container */
.form-container {
    max-width: 800px;
    z-index: 999999999999999;
    padding: 10px;
    min-width: 600px;
    background-color:#FFFAF5;
    border-radius: 20px;
  }
  #allMessages{
    width: 100%;
    height: 300px;
    z-index: 999999999999999;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    background: var(--red_background);
    border-radius: 15px;
    padding: 10px;
    color: var(--white_text);
  }
  #allMessages div{
    z-index: 999999999999999;
    padding: 10px;
    border-radius: 15px;
    background: var(--body_background);
    color: var(--red_background);
  }

  /* Full-width input */
  .form-container input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 50px;
  }
  
  /* When the input gets focus, do something */
  .form-container input:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color:#E16A00;
    color: white;
    padding: 16px 20px;
    border:  none ;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    
  }
  
  /* Add a background color to the cancel button */
  .form-container .cancel {
    background-color:#391F00;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  @media screen and (max-width: 700px){
    #myForm{
      width: 350px;
      margin: 0 auto;
    }
    .form-container{
      min-width: 200px !important;
    }
  }