@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf),
            url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: "Grimson";
    src: url(../fonts/Crimson_Text/CrimsonText-Regular.ttf),
            url(../fonts/Crimson_Text/CrimsonText-Bold.ttf),
            url(../fonts/Crimson_Text/CrimsonText-BoldItalic.ttf),
            url(../fonts/Crimson_Text/CrimsonText-SemiBold.ttf);
}
@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf)
}